.Home {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.Cards {
     width: 80%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     margin-top: 3%;
}

.Card {
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
     width: 15%;
     min-width: 100px;
     height: 120px;
     border-radius: 5px;
     padding: 1%;
     box-shadow: 6px 7px 7px -6px black;
     margin: 5px;
     background-color: #8BC6EC;
     background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.InvoicesTable {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     margin-top: 3%;
}

.InvoiceRow {
     width: 80%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     border: 1px solid black;

}

/* td width */
.seeInvoice {
     width: 5%;
}

.client {
     width: 30%;
}

.paymentDate {
     width: 15%;
}

.priceWithoutVat {
     width: 20%;
}

.VAT {
     width: 10%;
}

.total {
     width: 20%;
}

.payed {
     width: 5%;
}

.delete {
     width: 5%;
}