/* Invoice table and show invoices table have some same class names, that matches the styling in both, use more specific targeting to override the properties from Header&Row.css */
.Home {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.Cards {
     width: 80%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     margin-top: 3%;
     font-size: 1.5em;
}

.Card {
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
     width: 15%;
     min-width: 100px;
     height: 120px;
     border-radius: 5px;
     /* padding: 1%; */
     box-shadow: 6px 7px 7px -6px black;
     margin: 5px;
     background-color: #8BC6EC;
     background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}


.InvoicesTable {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
     margin-top: 3%;
     padding-bottom: 60px;
}

.InvoiceRow {
     width: 80%;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     /* flex-wrap: wrap; */
     border: 1px solid black;
}

.HeaderRow {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.SmallScreenHeader {
     display: none;
}

.DesktopHeader,
.HeaderAndTableRowsForSmallScreen {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}



.InvoiceRow>.seeInvoice {
     width: 5%;
}

.InvoiceRow>.client {
     width: 30%;
}

.InvoiceRow>.paymentDate {
     width: 15%;
}

.InvoiceRow>.priceWithoutVat {
     width: 20%;
}

.InvoiceRow>.VAT {
     width: 10%;
}

.InvoiceRow>.total {
     width: 20%;
}

.InvoiceRow>.payed {
     width: 5%;
}

.InvoiceRow>.delete {
     width: 5%;
}

.InvoiceRow>.borderOnDesktop {
     border-right: 2px solid black;
}

@media (max-width:1200px) {
     .Cards {
          font-size: 1em;
     }
}

@media (max-width:700px) {
     .Cards {
          justify-content: center;
          flex-wrap: wrap;
          width: 95%;
          font-size: 0.7em;
     }

     .InvoiceRow {
          width: 100%;
          flex-direction: column;
          align-items: flex-end;
     }

     .InvoiceRow>.td {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          border-bottom: 1px solid black;
     }

     .InvoiceRow>.delete {
          border-bottom: 0px;
     }

     .DesktopHeader {
          display: none;
     }

     .SmallScreenHeader {
          display: inline;
     }

     .HeaderAndTableRowsForSmallScreen {
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 2%;
          border-radius: 5px;
     }

     .InvoiceRow>.borderOnDesktop {
          border-right: none;
     }

     .HeaderRow {
          border-top-left-radius: 5px;
          border-top-right-radius: 0px;
          border-bottom-left-radius: 5px;
     }

     .TableDataRow {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
     }
}