.ClientAndInvoiceInfo {
     width: 80%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: stretch;
     padding-bottom: 10px;
     /* height: 50vh; */
}

.ClientInfo {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     width: 40%;
}

.InvoiceInfo {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     justify-content: flex-start;
     width: 25%;
}