.LoginSignup {
     background-color: #FBAB7E;
     height: 100vh;
     background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.Login,
.Inputs {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

}

.Inputs {
     background-color: whitesmoke;
}

.Inputs {
     min-width: 25%;
     padding: 2em;
     box-shadow: 1px 1px 10px -3px black;
     border-radius: 10px;
}

.Link:hover {
     cursor: pointer;
}

.Flash {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 50px;
     padding: 0;
}